<div class="card">
  <div class="content">
      <div class="row">
        <div class="col-xs-7">
          <div class="value left">
          {{ cardTopLeftContent }}
          </div>
        </div>
        <div class="col-xs-2 right floated">
          <div class="value divider">
          {{ cardTopRightContent }}
          </div>
        </div>
        <div class="col-xs-3 right floated">
          <div class="value highlight divider">
          {{ cardTopRightSecondaryContent }}
          </div>
        </div>
    </div>
  </div>
  <div class="image">
    <img class="wireframe image" src="/src/images/product_image.png">
  </div>
  <div class="content">
    <div class="row">
      <div class="col-xs-12">
      <div class="value main">
      {{ cardMainContent }}
      </div>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
          <div class="value left">
          {{ cardBottomLeftContent }}
          </div>
        </div>
        <div class="col-xs-3 right floated">
          <div class="value">
          <button type="button" class="btn btn-frameless" id="expandCard"> <i class="{{ cardBottomRightContent }}"></i></button>

          </div>
        </div>
        </div>
  </div>
</div>
